{% extends 'base.html' %} {% load crispy_forms_tags %} {% load static %} {% block page_title %} Add Comment {% endblock %} {% block content %}

<div class="row">
    <div class="col-12 text-center">
        <h2>New Comment</h2>
        <form role="form" method="post" id="add-comment-form" action="{% url 'add_comment' post.pk %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-12 mb-0">
                    {{ comment_form.text|as_crispy_field }}
                </div>
            </div>
            <input class="btn btn-success" id="submit_post" name="commit" type="submit" value="Add Comment">
        </form>
    </div>
</div>


{% endblock %}