{% extends 'base.html' %} {% load static %} {% block page_title %} LVSM | Our Posts {% endblock %} {% block content %}

<div class="row">
    <div class="col-12 text-center">
        <h1>Shared Posts Between Us</h1>
        <a href="{% url 'blog_home' %}" role="button" class="btn btn-success" id="all-blogs" aria-disabled="false">Blog Home</a>
    </div>
</div>
{% for p in posts %}
<div class="row">
    <div class="col-12 blog-link">
        <h2>{{ p.title }} {% if user.profile.staff_access %}<span> - <a href="{% url 'edit_post' p.id  %}" class="icon-link" aria-disabled="false"><i class="fas fa-pencil-alt"></i></a></span> {% endif %}</h2>
        <a href="{% url 'view_post' p.id %}">
            <p class="mb-0"> - Last Updated On: {{ p.last_modified }}</p>
            <p> - Posted By: {{ p.done_by }}</p>
            <p class="lead">{{ p.body|truncatewords:25 }}</p>
        </a>
    </div>
</div>


<br> {% endfor %} {% endblock %}