{% extends 'base.html' %} {% load static %} {% block page_title %} View {{ this_post.title|truncatewords:3 }} {% endblock %} {% block content %}

<section class="post">
    <div class="row jumbotron">
        <div class="col-12">
            <h2>{{ this_post.title }}</h2>
            <p>Posted On: {{ this_post.created_on }} </p>
            <p class="small">Views: {{ this_post.views }}</p>
            <p>Content: {{ this_post.content_level }}</p>
        </div>

        <div class="col-12">
            <p>{{ this_post.body }}</p>
            <p class="small">Posted by: {{ this_post.done_by }} Last Modified: {{ this_post.last_modified }}</p>
        </div>
    </div>
</section>

<section class="comments">
    <div class="row">
        <div class="col-12">
            <h3>Comments:</h3>
        </div>

        {% for c in comments %}
        <div class="col-12">
            <h5>{{ c.author }}</h5>
            <p>{{ c.text }}</p>
            <p class="small">Posted by: {{ c.author }}</p>
        </div>
        {% endfor %}
    </div>
</section>



<section class="tools">
    <div class="row">
        <div class="col-12 text-center">
            {% if user.profile == this_post.done_by %}
            <a href="{% url 'edit_post' this_post.id  %}" role="button" class="btn btn-warning mb-3" aria-disabled="false">Edit Post</a> <br> {% endif %} {% if user.is_authenticated %}
            <a href="{% url 'add_comment' this_post.id  %}" role="button" class="btn btn-warning mb-3" aria-disabled="false">Leave Comment</a> <br> {% endif %}
            <a href="{% url 'blog_home'  %}" role="button" class="btn btn-warning" aria-disabled="false">Back To All Blogs</a>
        </div>
    </div>
</section>
{% endblock %}